page-login {
  ion-content{
      background: #a7cfdf;
      background: -webkit-linear-gradient(#a7cfdf 0%, #23538a 100%);
      background: -o-linear-gradient(#a7cfdf 0%, #23538a 100%);
      background: linear-gradient(#a7cfdf 0%, #23538a 100%);
    }
    img{
      width: 150px;
    }
    .top-20{
      margin-top: 20%;
    }
    .top-5{
      margin-top: 5%;
    }
    h3{
      color: white;
    }
}
